.container {
    display: grid;
    grid-template-rows: 8% 8% 8% 8% 8% 22% 8% 22%;
    width: 100%;
    border-radius: 15px;
    gap: 3px;
    height: 100vh;
}
.topo {
    display: flex;
    color: #333;
    align-items: center;
    border-bottom-width: 2px;
    border-bottom-style: solid; 
    border-bottom-color: rgb(165, 165, 163);
    flex-direction: row;
    gap: 1rem;
    justify-content: initial;
}
    .endereco {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: initial;
        align-items: center;
        color: #494848;
    }
    .nomeLoja {
        display: flex;
        flex-direction: row;
        color: #333;
        font-size: 1.3rem;
        font-stretch: ultra-condensed;
        font-weight: 900;
        gap: 1.5rem;
        justify-content: initial;
        align-items: center;
    }

    .horarioAtendimentoFormaPagamento {
        display: flex;
        flex-direction: row;
        color: #494848;
        font-size: 1.1rem;
        font-stretch: ultra-condensed;
        font-weight: 900;
        gap: 1.5rem;
        justify-content: initial;
        align-items: center;
        background-color:  #ffef93;
    }
    .containerHorarios {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: initial;
    }
    .horarios{
        display: flex;
        flex-direction: column;
        color: #7a7979;
        font-size: 0.9rem;
        font-stretch: semi-condensed;
        font-weight: 500;
        gap: 0.6;
        justify-content: center;
    }